* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    margin-top: 50px;
    background-image: linear-gradient(to right, #2a3977, #092851);
}

a {
    color: #ff8000;
}

.titulo {
    color: white;
    height: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cuadro {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.cuadro h3 {
    margin: 0.5rem 0;
}

footer {
    width: 100vw;
    padding-top: 10px;
    border-top: 1px solid white;
    position: absolute;
    bottom: 50;
    text-align: center;
    margin-top: 100px;
}